//@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 220px;
  -webkit-font-smoothing: antialiased;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #3b3f51;
}
/******************************** NavBar  **************************************/
.navbar-sexy {
	background-color:rgba(42, 53, 135, 0.9);
	min-height:60px;
	border:1px solid transparent;
	position:relative;
	padding:0 40px;
}
.home_bee {
	max-height: 50px;
	width: 60px;
	margin: 0 20px 0 0;
	padding: 0;
	text-align:center;
	background-color:rgba(255,255,255,0.8);
	border-radius:5px;
	img {
		max-width:40px;
		margin:0;
		padding:0;
	}
	&:hover {	
		background-color:#fce473;
		border-radius:5px;
	}
}
.navbar-left .navbar-item:not(:last-child), .navbar-right .navbar-item:not(:last-child) {
    margin-right: 35px;
}
.navbar-item {
	font-size:16px;
	font-weight:bolder;
	a { &:hover {
		color:#fce473;
	 }}
}
/******************************** MAIN CONTAINER **************************************/
.background-image {
	background-image:url('https://s3-us-west-2.amazonaws.com/buzzm/imgs/buzz_background.png');
	width:100%;
	height:100%;
	min-height:650px;
	margin-top:-80px;
}
.nav_bar_pad {
	padding-top:95px;
}
.white_background_box {
	box-shadow: 0px 0px 20px 5px rgba(42,53,135,1), inset 0px 0px 55px 2px rgba(42,53,135,1);
        border-radius: 25px;
	margin:0 auto;
	text-align:center;
	min-height:500px;
	width:90%;
	background-color:rgba(255, 255, 255, 0.4);
}
.main_center_image {
	max-height:220px;
} 
.main_title {
	padding-top:25px;
	color:#2a3587;
	font-weight:bolder;
}
.sub_question {
	color:#2a3587;
        font-weight:bolder;
}
.sub_title {
	font-weight:bold;
	padding: 0 40px;
}
.main_button_group a {
	margin:0 15px;
}
/********************************** About Container  *****************************/
.about_title {
	margin-top:-20px;
	padding:10px 0;
}
.about_title_two {
	padding:10px 0;
}
.about_text_structure {
	border: 1px solid #fce473;
	padding:15px 20px;
	.notification {
		font-size: 18px;
        	text-align: center;
        	color: rgba(0,0,0,0.8);
	}
}
.iphone_about {
	text-align:center;
.female_group,
.male_group {
	max-height:500px;
	margin-top:80px;
}
.warning_sub_text {
                padding:0 60px;
        }
.finish_group {
	margin-top:-180px;
	.message_left {
		text-align:right;
		margin-right:-70px;
		img {
			max-height:500px;
		}
		.message_button {
			margin:220px 5px 0px 0px;
		}
	}
	.message_right {
		text-align:left;
		margin-left:40px;
		img {
			max-height:500px;
		}
	}

}
	.notification_two {
		font-size:18px;
		color: rgba(0, 0, 0, 0.8);
		border: 1px solid #fce473;
		padding:15px 10px;
    		margin: 0 -70px 25px -70px;
	}
	.checkIt_out {
		margin-top:-24px;
		max-height:200px;
		.arrow_down {
			font-size:60px;
			max-height:80px;
			color:#fce473;
		}
	}
	.get_started {
		display:flex;
		margin-top:-70px;
		margin-left:-80px;
		max-height:20px;
		.arrow_left {
			font-size:80px;
			margin:30px;
			color:#42afe3;
		}
		.get_started_text {
			font-size:30px;
			margin-top:50px;
		}
		.arrow_right {
			font-size:80px;
			margin:30px;
			color:#42afe3;
		}
	}
	.get_match {
		margin-top:70px;
		.arrow_down_r {
			font-size:60px;
			max-height:50px;
			color:#97cd76;
		}
		.matched_button {
			width:100%;
			font-size:30px
		}	
		.push_fix {
			float:left;
			padding-top:20px;
		}
	}
}
.base_links {
	padding:20px 0px;
	&:hover {
		background:#1f99d3;
	}
}
.base_links_signUp {
        padding:20px 0px;
        &:hover {
                background:#7bbf51;
        }
}

/********************************** FLIP AND RADIO BUTTONS *****************************/
.badge-danger {
  color: #fff;
  background-color: #f05150;
}
.radio {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 20px;
}

.radio-inline + .radio-inline {
  margin-top: 10px;
}

.radio-inline,
.checkbox-inline {
  cursor: default;
}

.radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 5px;
  margin-right: 10px;
}

.radio label:before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: -20px;
  position: absolute;
  left: 0;
  background-color: #fff;
  border: 1px solid #d0d0d0;
}

.radio label:before {
  bottom: 2.5px;
  border-radius: 100px;
  transition: border .2s 0s cubic-bezier(.45,.04,.22,1.30);
}

.radio input[type=radio]:checked + label:before {
  border-width: 5px;
}

.radio input[type=radio] {
  display: none;
}

.radio input[type=radio][disabled] + label {
  opacity: .65;
}

.radio input[type=radio]:checked + label:before {
  border-color: #10cebd;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes flipInX {
  0% {
    transform: perspective(800px) rotate3d(1,0,0,90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(800px) rotate3d(1,0,0,-20deg);
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(800px) rotate3d(1,0,0,10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(800px) rotate3d(1,0,0,-5deg);
  }

  100% {
    transform: perspective(800px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes flipOutX {
  0% {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1,0,0,-20deg);
    opacity: 1;
  }

  100% {
    transform: perspective(400px) rotate3d(1,0,0,90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}
